body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{
  font-size: 50px;
}
.first-class{
  color: blue;
}
.secoend-class{
  color: rgb(226, 43, 43);
}

.header-part{
  color: rgb(42, 165, 52);
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}

.half-width{
  width: 50%;
  padding-left: 50px;

}

.half-width img{
  width: 80%;
}

.click-button{
  text-decoration: none;
  background-image: linear-gradient(deeppink,brown);
  color:white;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 10px;
}

.top-header {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}
.big-position{
  color: chartreuse;

}
.dream-less{
  color: darkblue;
}
.dream-big{
  background-image: url(../images/middle-banner.png);
  background-repeat: no-repeat;
  background-position:right;
  padding-right: 150px;
}
#color-change{
  color: royalblue;
}
.orange-color{
  color: orange;
}
.back-ground{
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position:left ;
}
.box-shadow{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius:40px;
  box-shadow: 10px 10px 40px gray;
}
#full-developer{
  border: 7px solid;
  background-image: linear-gradient(blue,cyan);
  border-color: dodgerblue;
}
#full-stack-developer{
  border: 7px solid;
  background-image: linear-gradient(red,blue);
  border-color: maroon;
}
footer p{
  text-align: center ;
}